<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= lis._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= lis.title %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Add a valid title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" type="text" class="form-control" required>
<%= lis.description %></textarea>
          <div class="invalid-feedback">Add a valid description</div>
        </div>
        <div class="mb-3">
          Original listing image preview<br>
          <img src="<%= og %>" class="edit-image-prev" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload new image</label>
          <input name="listing[image]" type="file" class="form-control" />
          <div class="invalid-feedback">Add a valid image (png, jpg, jpeg)</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= lis.price %>" type="number" class="form-control" required min="1" />
            <div class="invalid-feedback">Add a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= lis.country %>" type="text" class="form-control" required />
            <div class="invalid-feedback">Add a valid country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" value="<%= lis.location %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Add a valid location</div>
        </div>
        <br /><br />
        <button class="btn edit-btn mt-3">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>